.next
node_modules/
wasm.wasm
next-env.d.ts
*.tsbuildinfo
.DS_Store
.pnpm-store/

# .env
.env*
!.env.template
!.env.production

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# dist
dist/

# claude
.claude/

# image
.png
.jpg