.next
node_modules/
wasm.wasm
next-env.d.ts
*.tsbuildinfo
.DS_Store
.pnpm-store/

# next dev は distDir に dev を利用する
dev/

# .env
.env*
!.env.example
!.env.production

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
