body {
  padding-top: 56px;
  padding-bottom: 41px;
}

label {
  margin-bottom: 0;
}

input[type="range"] {
  cursor: pointer;
  outline: none;
  height: 8px;
  border-radius: 10px;
  border: solid 1px #bbbbbb;
  background: #e5e5e5;
}

input[type="range"]::-moz-range-thumb {
  background: #0375ff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
}

input[type="range"]:active::-moz-range-thumb {
  background: #015dc8;
}

input[type="range"]::-moz-range-progress {
  background: #0375ff;
  height: 7px;
  border-radius: 3.5px 0 0 3.5px;
}

input[type="range"]:active::-moz-range-progress {
  background: #015dc8;
}

footer .btn {
  font-size: 0.875rem;
  padding: 5px;
}

.nav-tabs .nav-link {
  color: #ffffff;
}

.nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #343a40;
}

.navbar-dark .navbar-text {
  color: #ffffff;
}

.container {
  max-width: none;
}

.bg-sora {
  background-color: #0071bc !important;
}

.list-url {
  font-size: 1.125rem;
  padding-left: 1rem;
}

.list-url li {
  margin-left: 1.5rem;
}

.list-url .separator {
  list-style: none;
  margin-left: 0;
  margin-top: 1rem;
}

.col-demo {
  padding-top: 10px;
  overflow-x: auto;
}

.col-debug {
  padding: 10px;
  background-color: #222222;
  min-height: calc(100vh - 56px - 41px);
}

.arrow-bottom {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px 6px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
}

.arrow-right {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0px 6px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
}

.debug-title {
  cursor: pointer;
  color: #ffffff !important;
}

.debug-message {
  display: flex;
  flex-wrap: nowrap;
  color: #ffffff !important;
}

.debug-message pre {
  font-size: 100%;
  color: #ffffff;
  margin: 0;
}

#debug:checked ~ .custom-control-label::before {
  background-color: #ff0066;
}

.fake-volume-range {
  width: 240px;
}

.volume-visualizer {
  background-color: #eeeeee;
}

.video-status {
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  white-space: nowrap;
}

.video-status p {
  margin: 0;
}

.alert-messages {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 1;
}

.toast {
  flex-basis: 450px;
  width: 450px;
  max-width: 450px;
}

.spinner-status {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
}
