.container {
  padding: 10px;
  background-color: #222222;
  height: calc(100vh - 56px - 56px);
  min-height: calc(100vh - 56px - 56px);
  display: flex;
  flex-direction: column;
}

.container :global(.tab-content) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.container :global(.tab-content) :global(.tab-pane) {
  padding: 0.25rem;
}

.container :global(.tab-content) :global(.tab-pane.active) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container input {
  background-color: #222222;
  color: #ffffff;
}

.container input:focus {
  background-color: #222222;
  color: #ffffff;
}

.container input:disabled {
  background-color: #666666;
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: calc(100vh - 56px - 10px);
  }
}
