name: ci

on:
  push:
    branches:
      - master
      - develop
      - "feature/*"
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "releases/*"
jobs:
  ci:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v4
      - name: Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: pnpm install
      - run: pnpm biome --version
      - run: pnpm run lint
      - run: pnpm run check
      - run: pnpm run test
      - run: pnpm run build
      - name: Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-devtools
          SLACK_COLOR: danger
          SLACK_TITLE: Failure test
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
