name: e2e-test

on:
  push:
    # branches:
    #   - develop
    #   - "feature/*"
    branches-ignore:
      - "zustand*"
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "releases/*"

jobs:
  e2e-test:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        # node: ["20", "22"]
        node: ["22"]
        # browser: ["chromium", "firefox", "webkit"]
        browser: ["chromium"]
    env:
      E2E_TEST_SORA_SIGNALING_URL: ${{ secrets.TEST_SIGNALING_URL }}
      E2E_TEST_SORA_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
      E2E_TEST_ACCESS_TOKEN: ${{ secrets.TEST_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v4
      - run: pnpm --version
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm exec playwright install ${{ matrix.browser }} --with-deps
      - run: pnpm exec playwright test --project=${{ matrix.browser }}
        env:
          VITE_SORA_CHANNEL_ID_SUFFIX: _${{ matrix.node }}
      # - name: Slack Notification
      #   if: success()
      #   uses: rtCamp/action-slack-notify@v2
      #   env:
      #     SLACK_CHANNEL: sora-devtools
      #     SLACK_COLOR: good
      #     SLACK_TITLE: Success test
      #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      - name: Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-devtools
          SLACK_COLOR: danger
          SLACK_TITLE: Failure test
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
